<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Blank</title>

  <% include partials/head_includes %>

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <% include partials/sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include partials/topbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Books</h1>
<!--          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>-->
          <div class="text-left">
            <% include partials/messages %>
          </div>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">List Books</h6>
              <div class="dropdown no-arrow">
                <a href="/books/add" class="btn btn-primary btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                  </span>
                  <span class="text">Add Book</span>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Publication Date</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Action</th>
                  </tr>
                  </thead>
<!--                  <tfoot>-->
<!--                  <tr>-->
<!--                    <th>ISBN</th>-->
<!--                    <th>Title</th>-->
<!--                    <th>Authors</th>-->
<!--                    <th>Publication Date</th>-->
<!--                    <th>Quantity</th>-->
<!--                    <th>Price</th>-->
<!--                    <th>Action</th>-->
<!--                  </tr>-->
<!--                  </tfoot>-->
                  <tbody>
                  <% if(typeof books != 'undefined') { %>
                    <% books.forEach((book) => { %>
                      <tr>
                        <td><%= book.isbn %></td>
                        <td><%= book.title %></td>
                        <td><%= book.author %></td>
                        <td><%= book.publicationDate %></td>
                        <td><%= book.quantity %></td>
                        <td><%= book.price %></td>                
                        <td id="bi_<%= book.id %>">
                          <!-- <img height="100" src="<%= book.imagePath %>"> -->
                          <div id="carousel<%= book.id %>" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <%                                 
                                var imageArray = book.imagePath.split(',');
                                var activeFlag = true;
                                imageArray.forEach((image) => {
                              %>                                  
                                  <div class="carousel-item <%= activeFlag ? 'active' : '' %>">
                                    <a href="<%= image %>" data-lightbox="book<%= book.id %>">
                                      <img class="d-block" height="100" src="<%= image %>">
                                    </a>
                                  </div>
                              <% activeFlag = false; }); %>
                            </div>
                            <a class="carousel-control-prev" href="#carousel<%= book.id %>" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel<%= book.id %>" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </td>
                        <td>
                          <a href="/books/edit/<%= book.id %>" class="btn btn-info btn-circle">
                            <i class="fas fa-pen"></i>
                          </a>
                          <a href="#void" onclick="setDeleteHref(<%= book.id %>)" class="btn btn-danger btn-circle" data-toggle="modal" data-target="#deleteModal">
                            <i class="fas fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                    <% }); %>
                  <% } %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <% include partials/footer %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <% include partials/confirm_delete_modal %>
  <script>
    function setDeleteHref(id){
      $('#confirmDeleteButton').attr("href", "/books/delete/"+id);
    }
  </script>

  <% include partials/logout_modal %>

  <% include partials/footer_includes %>

  <!-- Page level plugins -->
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>
